body {
  background-color: #030706;
  color: white;
  font-family: input-sans, sans-serif;
}
h1,
h2,
h3 {
  font-family: Moby;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.inputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.inputContainer button {
  background-color: #030706;
  font-family: moby;
  font-weight: bold;
  color: hsl(0, 100%, 40%);
  border: white solid 2px;
  height: 30px;
  width: 208px;
  padding: none;
}

.inputField {
  height: 50px;
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: #030706;
  font-family: moby;
  font-weight: bold;
}

.navbar button {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #030706;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
