body {
  background-color: #030706;
  color: white;
  font-family: input-sans, sans-serif;
}

h2,
h3 {
  font-family: Moby;
}

h1 {
  margin-top: 80px;
  font-family: Moby;
  font-weight: bold;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: #cc0000;
}

a:active {
  color: yellowgreen;
}

a:hover {
  text-shadow: 0 0 7px yellowgreen, 0 0 10px rgb(172, 231, 54),
    0 0 21px rgb(185, 247, 60);
  color: rgb(202, 255, 95);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  max-width: 50vw;
  color: #cc0000;
  text-align: left;
  font-size: 20px;
  font-family: moby;
  font-weight: bold;
  position: fixed;
  margin: 15px;
  top: 0px;
  left: 0px;
}

@keyframes neon {
  from {
    color: white;
  }
  to {
    color: rgb(202, 255, 95);
  }
}

.yellowgreenNeon {
  text-shadow: 0 0 7px yellowgreen, 0 0 10px rgb(172, 231, 54),
    0 0 21px rgb(185, 247, 60);
  color: rgb(202, 255, 95);
  animation-name: neon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.inputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.inputContainer button {
  background-color: #030706;
  font-family: moby;
  font-weight: bold;
  color: #cc0000;
  border: #cc0000 solid 2px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
}

.inputContainer button:hover {
  box-shadow: 0 0 10px 0 #cc0000 inset, 0 0 20px 2px #cc0000;
  border: 3px solid #cc0000;
  color: yellowgreen;
}

.inputContainer input {
  background-color: white;
  font-family: moby;
  font-weight: normal;
  border: #cc0000 solid 2px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  color: #030706;
}

.inputContainer textarea {
  background-color: white;
  font-family: moby;
  font-weight: normal;
  border: #cc0000 solid 2px;
  height: 100px;
  padding: 5px;
  margin-top: 5px;
  color: #030706;
}

.inputField {
  height: 100px;
  width: 200px;
}

.postContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.postContainer button {
  background-color: #030706;
  font-family: moby;
  font-weight: bold;
  font-size: large;
  color: #cc0000;
  border: #cc0000 solid 2px;
  height: 60px;
  padding: 5px;
  margin-top: 5px;
}

.postContainer button:hover {
  box-shadow: 0 0 10px 0 #cc0000 inset, 0 0 20px 2px #cc0000;
  border: 3px solid #cc0000;
  color: yellowgreen;
}

.postContainer input {
  background-color: white;
  font-family: moby;
  font-weight: normal;
  border: #cc0000 solid 2px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  color: #030706;
}

.postContainer textarea {
  background-color: white;
  font-family: moby;
  font-weight: normal;
  border: #cc0000 solid 2px;
  height: 100px;
  padding: 5px;
  margin-top: 5px;
  color: #030706;
}

.postContainer label {
  margin-top: 10px;
}

.postContainer select {
  margin-top: 5px;
  height: 40px;
  background-color: white;
  font-family: moby;
  font-weight: normal;
  border: #cc0000 solid 2px;
  color: #030706;
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-family: moby;
  font-weight: bold;
  flex-wrap: wrap;
  max-width: 40vw;
}

.navbar button {
  background-color: transparent;
  font-family: moby;
  color: #cc0000;
  font-weight: bold;
  height: 45px;
  border: 3px solid #cc0000;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #cc0000;
  margin: 5px;
  margin-bottom: 20px;
}

.navbar button:hover {
  box-shadow: 0 0 10px 0 #cc0000 inset, 0 0 20px 2px #cc0000;
  border: 3px solid #cc0000;
  color: yellowgreen;
}

.loginLinks {
  padding: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #030706;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
